{
  "presets": [
    ["env",{
      "useBuiltIns": "entry",
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 10"]
      }
    }]
  ],
  "plugins": [
    [
      "transform-object-rest-spread",
      { "useBuiltIns": true }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
        "targets": { "node": 9 }
        }]
      ],
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
